html,
body {
	font-family: sans-serif;
	background-color: #ffffff;
	color: black;
}

body {
	display: flex;
	flex-flow: column;
	width: min(calc(100% - 16px), 600px);
	margin: 8px auto;
}

table {
	width: 100%;
	background-color: #e0e0e0;
	border-collapse: collapse;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
	text-align: left;
}

td {
	padding: 4px 8px;
	border-bottom: 2px solid rgb(245, 245, 245);
}

input,
select {
	padding: 1px;
	font-size: medium;
	height: 25px;
}

input.btn_wide {
	width: 150px;
}

button {
	font-size: medium;
	height: 25px;
	text-align: center;
}

/* Link in <li> */

li {
	background-color: #e0e0e0;
	list-style-type: none;
	margin-bottom: 5px;
	padding: 4px 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Trackbar/Drawbar */

.slider {
	height: 20px;
	background: #b6b6b6;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background: #2196F3;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #2196F3;
	border-radius: 5px;
	cursor: pointer;
}


.slider-val {
  display: inline-block;
  width: 25px;
  text-align: right;
  font-weight: bold;
  font-size: medium;
  vertical-align: middle;
}


.reg-val {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: medium;
  vertical-align: middle;
}

/* On/Off Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 58px;
	height: 30px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider_sw {
	opacity: 0.7;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 30px;
	background-color: #b6b6b6;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.slider_sw:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 3px;
	border-radius: 30px;
	background-color: white;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.slider_sw:hover {
	opacity: 1;
}

input:checked+.slider_sw {
	background-color: #2196f3;
}

input:checked+.slider_sw:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


